*,p,a,.btn {
  font-family: 'Montserrat';
  font-weight:300;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins';
  font-weight:700;
}
p {
  color:#666;
  line-height: 2;
}
body {
  background-color:#f5f5f5;
}
/* NAV */
html {
  scroll-behavior: smooth;
}

/* Colors */
.blue-txt {
  color:#1624A6;
}
.orange-txt {
  color:#f08300;
}
.bg-blue {
background-color:#1624A6;
color:#fff;
}
.bg-orange {
  background-color:#f08300;
}
.bg-light-orange {
  background-color: rgba(240, 131, 0,0.25);
}
.bg-yellow {
  background-color:#FFD35D;
}
.bg-light-yellow {
  background-color: rgba(255, 211, 93,.5);
}
/*Homepgage*/
.hero-lg {
  min-height:650px;
  text-align:center;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-bg-img {
  position: absolute;
  height:100%;
  width:100%;
  object-fit:cover;
}
.hero-content {
  padding:20px;
  position: relative;
}
.med-overlay {
  background-color:rgba(0,0,0,.4);
  color:#fff;
  height:100%;
  position: absolute;
  width:100%;
}
.dark-overlay {
  background-color:rgba(0,0,0,.7);
  color:#fff;
  height:100%;
  position: absolute;
  width:100%;
}
.hero-title,.hero-sub  {
  color:#fff;
}
.hero-sub {
  font-weight:200;
}
.subtitel {
  font-weight:200;
}
.header-btns,.hero-btns {
  margin-top:30px;
}
.extra-links {
  background-color:#fff;
  border-radius:0.375rem;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
  margin:-60px auto 0px;
  position:relative;
  padding:20px;
  text-align:center;
  width:400px;
}
@media only screen and (min-width:981px){
  .extra-links {
  }
}
.extra-links ul {
  padding:0px;
  margin:20px 0px 0px;
}
.extra-links li {
  display:inline-block;
  font-size:14px;
  margin: 10px 10px 0px;
}
.extra-links li::before {
  content:'\f0da';
  font-family: 'Font Awesome 5 Free';
  font-weight:900;
  margin-right:8px;
}
.extra-links a {
  color:#f08300;
  transition: .2s ease-in-out;
}
.extra-links a:hover {
  color:#f08300;
filter: brightness(65%);
}
.subscribe input {
    display: inline-block;
  }
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* CARDS */
.card,.product-cart,.news-card {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    border-radius: .375rem;
}
/* PRODUCT CARTS */
.product-cart {

}
.product-cart-img,.news-card-img {
  width:100%;
  height:250px;
  object-fit: cover;
  background-color:rgba(38,47,68,0.15);
}
.product-card-body.simple h5,.news-card h5 {
  font-size: 16px;
  text-align:center;
}
.product-card-body.simple .fa-sm {
  font-size:12px;
}
.product-card-body.simple .rating {
  margin-bottom:0px;
}
.product-cart-img.simple {
  width:100%;
  height:200px;
}
.product-card-body,.shop-card-body,.news-card-body {
  background-color: #fff;
  padding: 1.25rem;
  text-align: center;
  border-bottom-left-radius: .375rem;
  border-bottom-right-radius: .375rem;
}
@media only screen and (max-width:1080px){
  .product-card-body,.shop-card-body,.news-card-img-body {
    margin-bottom:30px;
}
}
.product-card-price {
  color:#000;
  font-family: 'Montserrat';
  font-weight: 700;
}
.card.registerShop {
  padding:1.5rem;
  max-width:550px;
  margin:auto;
}
.registerShop .md-form, .registerShop .md-form .validate {
  margin:0.5rem 0;
}
.btn-primary {
  background-color: #f08300!important;
  margin:.375rem 0;
}
.btn-outline-primary {
  color:#f08300!important;
border: 1px solid #f08300 !important;
}
.btn-outline-primary:hover {
  background-color:#f08300!important;
  color:#fff!important;
border: 1px solid #f08300 !important;
box-shadow:none;
-webkit-box-shadow:none;
}
.btn-add-card {
  background-color: #f08300;
  color:#fff;
}
.btn-back {
    background-color: transparent !important;
    border: 1px solid #666 !important;
    font-size:9px!important;
    color:#666;
    margin-right:10px;
    padding-top: .38rem;
      padding-bottom: .38rem;
}
.btn-back:hover, .btn-back:active {
  box-shadow:none;
  -webkit-box-shadow:none;
}

.btn-product,.btn-add-card {
  position: relative;
        display: inline-block;
        padding: 0;
        margin: 10px;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 0.375rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        width: 47px;
        height: 47px;
        margin:3px;
}
.btn-product {
  background-color:#e0e0e0;
  color:#000;

}
.btn-product i. .btn-add-card i {
    font-size: 1rem;
    line-height: 47px;
}
.btn-sm,.btn.btn-sm, {
  border-radius: .25rem;
  font-weight: 500;
  font-size:10px;
  padding:11px 16px 10px;
  box-shadow:none;
}
.btn {
  border-radius: .25rem;
  font-weight: 500;
  box-shadow:none;
}
.btn-icon {
  color:#f08300;
  font-weight:700;
}
.btn-icon:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
content:'\f061';
  margin-left:8px;
  transition: .2s ease-in-out;
}
.btn-icon:hover {
  color:#f08300;
  filter: brightness(0.8);
}
.btn-icon:hover:after {
  margin-left:18px;
}

/****************/
.btn-quantity {
  color:#fff;
  border-radius:.357rem;
  background-color:#f08300;
  padding:10px;
  margin: 5px 10px;
  text-align:center;
}
.btn-quantity input[type=radio]{
  opacity:0;
}
.btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child) {
  margin-left:0;
}
.number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
width: 10rem;
border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}
input.btn.btn-primary:hover,input.btn.btn-primary:focus, input.btn.btn-primary:active {
  box-shadow:none;
}
.shop-card {
  border-radius: 0.375rem;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
}
.shop-card-body {
}
.rating {
  color: #fbc02d;
}
.view.zoom {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
  }

.cat-img {
  border-radius: 0.375rem;
  color:#fff;
  -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.cat-img:hover {
}

.cat-img h3 {
font-size:1.5rem;
bottom:20px;
left:20px;
margin: 0px;
position:absolute;
}
.category-card {
  border-radius: 0.375rem;
  color: white;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
}
.category-img{
  border-radius: 0.375rem;
  filter: brightness(70%);
  max-width:100%;
  transform:scale(1);
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}
.category-img:hover {
  transform:scale(1.1);
}
.category-card h3 {
  font-size:1.5rem;
  bottom:20px;
  left:20px;
  margin: 0px;
  position:absolute;
}
.case-card {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.375rem;
  color: white;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  /* min-height:250px; */
}
.case-img {
  position: fixed;
  border-radius: 0.375rem;
  filter: brightness(70%);
  max-width:100%;
  transform:scale(1);
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}
.case-img:hover {
  transform:scale(1.1);
}
.case-card h3 {
  font-size:1.2rem;
  bottom:20px;
  left:20px;
  margin: 0px;
  position:absolute;
}

.single-testimonial {
  text-align:center;
}
.avatar-sm {
  border-radius:100%;
  height:100px;
  margin: 0px auto 25px;
  width:100px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.testimonial-txt {
  font-size:14px
}
#cta-fw {
  background-color: #f08300;
  color:#fff;
}
/* .parallax-center {
  color:#fff;
  min-height:500px;
  text-align:center;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parallax-center .parallax-content {
  max-width:800px;
  margin:auto;
  color:#fff;
} */


.streak,.streak p {
  color:#fff;
}
.streak .btn {
  margin-top:30px;
}

/* SHOP */
.shop-breadcrumb {
  color:#666;
  font-size:14px;
  margin:30px 0px;
}
.shop-breadcrumb a {
  color:#666;
}
.shop-breadcrumb ol {
  display:inline-block;
  padding-left:0px;
}
.shop-breadcrumb li {
  display:inline-block;
  margin:0px 3px;
list-style:none;
}

.shop-breadcrumb li:after {
  content: "";
      display: inline-block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid;
      border-right: 1px solid;
      transform: rotate(-45deg);
      right: 6px;
      top: 4px
}
.shop-breadcrumb li:last-child:after {
  display:none;
}
.shop-breadcrumb li:last-child {
  font-weight:700;
}
.shop-sidebar {
  font-size:12px;
}
.side-category ul {
  padding:0px;
}
.side-category li {
  list-style:none;
  margin-bottom:10px;
}
.shop-sidebar h5 {
  color:#1624A6;
  font-size:16px;
}
#shopSearch {
  font-size:12px;
}
.highlight-xl {
  background-color:#fff;
  display:flex;
  flex-direction: column;
  position:relative;
}
.highlight-img-xl {
  margin:auto;
  order:1;
  padding:0;
  width:100%;
  overflow:hidden;
}

.highlight-img-xl img {
height:400px;
width:100%;
object-fit: cover;
overflow:hidden;
  -webkit-animation: ken-burns-out 6s 1 ease-in-out forwards;
animation: ken-burns-out 6s 1 ease-in-out forwards;
}
.highlight-txt-xl {
  order:2;
padding:80px 20px 40px;
text-align:center;
width:100%;
}
.highlight-logo {
  border:5px solid #fff;
  border-radius:100%;
  height:120px;
  width:120px;
  margin-left:calc(50% - 60px);
  margin-top:335px;
  object-fit:cover;
  position: absolute;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,.15);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,.15);

}
@media only screen and (min-width:991px) {
  .highlight-xl {
    flex-direction: row;

  }
  .highlight-img-xl {
    width:50%;
    order:initial;

  }
  .highlight-txt-xl {
      width:50%;
       padding:10%;
       order:initial;
       display: flex;
      flex-direction: column;
    justify-content: center;

    }
    .highlight-img-xl img {
    height:550px;
    object-fit: cover;
    }
    .highlight-cont-xl {
      margin-top:auto;
      margin-bottom:auto;
    }
    .highlight-logo {
      margin-top:200px;
      margin-left:calc(50% - 75px);
      height:150px;
      width:150px;
    }
}
@media only screen and (min-width:1400px){
  .highlight-img-xl img {
  height:750px;
  object-fit: cover;
  }
  .highlight-logo {
    margin-top:300px;
  }
}
/* Headers */
.split-hero-xl {
  background-color:#fff;
  display:flex;
  flex-direction: column;
  position:relative;
}
.split-hero-img-xl {
  margin:auto;
  padding:0;
  width:100%;
  overflow:hidden;
}

.split-hero-img-xl img {
height:400px;
width:100%;
object-fit: cover;
overflow:hidden;
  -webkit-animation: ken-burns-out 6s 1 ease-in-out forwards;
animation: ken-burns-out 6s 1 ease-in-out forwards;
}
.split-hero-txt-xl {
padding:40px 20px;
text-align:left;
width:100%;
}

@media only screen and (min-width:991px) {
  .split-hero-xl {
    flex-direction: row;
  }
  .split-hero-img-xl {
    width:50%;
    order:initial;

  }
  .split-hero-txt-xl {
      width:50%;
       padding:7%;
       order:initial;
       display: flex;
      flex-direction: column;
    justify-content: center;

    }
    .split-hero-img-xl img {
    height:550px;
    object-fit: cover;
    }
    .split-hero-cont-xl {
      margin-top:auto;
      margin-bottom:auto;
    }
}
/* END headers */

/* Parallax */
.parallax-center {
  color:#fff;
  /* background: linear-gradient(0deg,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%),
  url(http://cms.mijnwebdesign.com//backend/gallery/9e8a45a3d0e03766cd38db36f143dab5.jpg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height:500px;
  text-align:center;
  padding:90px 20px;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parallax-center-sm {
  color:#fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height:350px;
  text-align:center;
  padding:90px 20px;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parallax-overlay {
  background-color:#000;
  content:"";
  height:100%;
  left:0;
  opacity:0.4;
  position:absolute;
  top:0;
  width:100%;
}
.parallax-center .parallax-content, .parallax-center-sm .parallax-content{
  max-width:800px;
  margin:auto;
  z-index:2;
}
.parallax-content p {
  color:#fff;
  margin:0px;
}

.parallax-title {
  color:#fff;
  margin:auto;
}
/* Landingpages */
.content-steps-1 {
}
.step-nr {
  color:rgba(38,47,68,0.15);
font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 70px;
    margin-left: -20px;
}
.content-steps-1 h2 {
  margin-top: -65px;
}
.m-img {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-width:100%;
  box-shadow: 0px 12px 60px -6px rgba(0,0,0,0.3);

}
.blurb-usp {
  margin-top:30px;
  position: relative;
}
.blurb-usp h3 {
  font-size:1.25rem;
}
.blurb-usp .blurb-icon {
  color:#f08300;
  width:30px;
  float:left;
}
.blurb-usp .blurb-content {
  float:right;
  width:calc(100% - 30px);
}
ul.usp {
  padding:0px;
}
ul.usp  li {
  color:#666;
  list-style:none;
  margin-bottom:20px;
}
ul.usp li:before {
  font-family:"Font Awesome 5 Free";
  content:'\f058';
  color:#3c3;
  float:left;
  font-weight:900;
  font-size:1.4rem;
  margin-right:10px;
  margin-top:-4px;
}
.mt-90 {
  margin-top: 90px;
}
@media only screen and (max-width:991px) {
  .mt-90 {
    margin-top:60px
  }
}
@media only screen and (min-width:1400px){
  .split-hero-img-xl img {
  height:750px;
  object-fit: cover;
  }
  .split-hero-logo {
    margin-top:300px;
  }
}

/* SINGLE BLOG */
.blog-title {
  background-color:#f08300;
  color:#fff;
  padding-top:60px;
  padding-bottom:120px;
}
.blog-breadcrumb {
    color:#fff;
    font-size:14px;
    margin:20px 0px;
  }
  .blog-breadcrumb a {
    color:#fff;
  }
  .blog-breadcrumb ol {
    display:inline-block;
    padding-left:0px;
  }
  .blog-breadcrumb li {
    display:inline-block;
    margin:0px 3px;
  list-style:none;
  }

  .blog-breadcrumb li:after {
    content: "";
        display: inline-block;
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transform: rotate(-45deg);
        right: 6px;
        top: 4px
  }
  .blog-breadcrumb li:last-child:after {
    display:none;
  }
  .blog-breadcrumb li:last-child {
    font-weight:700;

}
.post-content {
  margin-top:-90px;
}
.blog-intro {
  font-weight:700;
}
.post-header {
  background-color:#fff;
  border-radius: .375rem;
  margin-bottom:20px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
}
.blog-featured-img {
  border-radius: .375rem .375rem 0rem 0rem;
  overflow:hidden;
  position: relative;
}
.blog-featured-img img,.shop-featured-img img {
  max-width:100%;
  -webkit-animation: ken-burns-in 6s 1 ease-in-out forwards;
animation: ken-burns-in 6s 1 ease-in-out forwards;
}

.single-blog-categories,.single-product-categories {
  position: absolute;
  right:20px;
top:20px;
}
.single-blog-categories ul, .single-product-categories ul {
  padding:0;
}
.single-blog-categories li, .single-product-categories li {
background-color:  #fff;
border-radius:99px;
font-weight:700;
padding:.2rem .6rem; ;
display: inline-block;
  font-size:12px;
  margin:5px 5px;
  list-style: none;
}
.post-text {
  background-color:#fff;
  border-radius: .375rem;
  font-size:14px;
  padding:1.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
}
.post-text img {
  max-width:100%;
  border-radius: .375rem;
  margin:20px 0px 30px;
}
.post-text blockquote {
  border-top:1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  color: #999;
  padding:20px;
  font-size:1.2rem;
  font-style: italic;
  max-width:80%;
  margin:30px auto;
  text-align:center;
  text-transform:
}
.blog-sidebar {
  margin:3rem 0;
}
.blog-sidebar h4, .blog-sidebar h5 {
  font-size:16px;
}
.blog-subscribe {
  background-color:#fff;
  border-radius: .375rem;
  margin-top:30px;
  padding:20px;
}
.recent-post {
  text-shadow: rgba(0,0,0,.3) 1px 0px 5px;
  -webkit-text-shadow: rgba(0,0,0,.3) 1px 0px 10px;
  margin-bottom:0px;
}
.blog-share {
  margin-top:1.5rem;
}
/* SHOPPING CART */
.webshop-title {
  text-align:center;
  padding:30px 15px;
}
.cart-link {
  color:#6c757d;
  font-size:12px;
  margin-right:1rem;
}

/* Single product */
.product-title {
  background-color:rgba(240, 131, 0,0.25);
  color:#000;
  padding-top:60px;
  padding-bottom:120px;
}
.product-title h1 {
  margin-bottom:-10px;
  color:#1624A6;
}
.product-img {
  border-radius:.375rem .375rem 0 0;
  height:400px;
  object-fit:cover;
}
.carousel-indicators li {
  opacity:0.4;
}
.carousel-thumbnails .carousel-indicators>li img {
  border-radius:.375rem;
  height:75px;
  width:75px;
  object-fit: cover;
}
.product-intro {
  padding:1.5rem;
  font-size:14px;
}
@media only screen and (min-width:991px){
.product-intro {
  margin-top:30px;
}
}
.product-intro a {
  color: #f08300;
}

.intro-detail {
  font-weight:700;
}
p.intro-detail {
margin:0px;
}
.product-intro .rating {
  margin:0px 0px 20px;
}
.price {
  font-weight:700;
}
.select-wrapper.mdb-select.md-form > input{
  font-size:14px;
  margin-bottom:0px;
}

@media (min-width: 62em) {
.classic-tabs .nav li:first-child {
    margin-left: 0px;
}
}
.classic-tabs .nav li a {
  color:#000;
  font-weight:700;
}
.classic-tabs .nav li a.active {
    color: #f08300;
    border-bottom: 2px solid;
    font-weight:700;
}
.tab-content {
  padding:1.5rem;
}

.product-info-card {
  background-color:#fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    border-radius: .375rem;
    margin:3rem 0;
    font-size:14px;
}
.product-specs th, .product-specs td {
  border:none;
}
/* SINGLE SHOP */
.streak.streak-shop {
    height: 400px;
}
.shop-header {
  display: flex;
  justify-content: center;
  vertical-align: center;
}
.shop-title {
  font-size:2rem;
}
.shop-logo-container {
  border-right:2px solid #fff;
  margin-right:30px;
  padding-right:30px;

}
.shop-logo {
  border-radius:100%;
  height:150px;
  width:150px;
  object-fit: cover;
}
.shop-intro {
  font-size:14px;
}
.shop-featured-img {
  border-radius: .375rem;
  overflow:hidden;
  position: relative;
}
.shop-featured-img img {
  height:300px;
  object-fit: cover;
  border-radius:.375rem;
}
.single-shop-items {
  background-color:#fff;
  border-radius:.375rem;
  padding:1.5rem;
  webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
}
.schema-img {
  margin-bottom:20px;
}
.schema-hours {
  margin-top:20px;
}
/* CONTACT */
.contactgegevens {
  color:#fff;
}
.contactgegevens p {
  color:#fff;
  margin-bottom:0px;
}
.contactgegevens h5 {
  margin-top:10px
}
@media (min-width: 768px) {
.contactgegevens {
    margin-left: 8.333333%;
}
}
/* SECTION STYLING */
.max-1400 {
  max-width:1400px;
  padding:0px 15px;
  margin:auto;
}
.fp-1 {
  padding:60px 0px;
}
.fpb-1 {
  padding-bottom:60px
}
.fpt-1 {
  padding-top:60px;
}
.fp-2 {
  padding:120px 0px
}
@media only screen and (max-width:981px){
  .fp-2 {
    padding:60px 0px;
  }
}
footer.page-footer {
  background-color: #383838;
}
/* */
.carousel.carousel-multi-item  {
  margin-bottom:0px;
}
.prev, .next {
  color: #999;
  margin:0px 5px;
}
.multi-product-nav{
  margin: 10px;
}
  .white-bg {
    background-color:#fff;
  }
  .grey-bg1 {
    background-color: #f5f5f5;
  }
  .grey-bg2,.webshop-title {
    background-color: #eaeaea;
  }
  .carousel-inner {
    border-radius: 0.375rem 0.375rem 0 0;
  }

@media only screen and (max-width:991px){
  #uitgelichte-producten,.mpn-col {
    display: none;
  }
}













/* Highlight Carousel */
#highlight-carousel > div > div.carousel-item.active > div.view > img {
  -webkit-animation: ken-burns-in 6s 1 ease-in-out forwards;
animation: ken-burns-in 6s 1 ease-in-out forwards;
}
.carousel-caption {
  bottom:60px;
}
.carousel-caption p {
  color:#fff;
}
#highlight-carousel .view img {
  height:400px;
  object-fit:cover;
}
@media only screen and (min-width:991px) {
  #highlight-carousel .view img {
    height:550px;
  }
}

/* PROGRESS BAR */
.progress-container {
  width: 100%;
  background:rgba(255,255,255,.3);
  height: 6px;
  z-index:999;
  position: fixed;
  /* top:60px; */
  top:0px;
  opacity:0;
  z-index:-1;
  transition: 0.4s ease-in-out;

}
.progress-container.show {
  z-index:999;
  position: fixed;
  opacity:1;
  transition: 1s ease-in-out;
}

.progress-bar {
  height: 6px;
  background:#272D36;
  width: 0%;
  border-radius: 0px 2px 2px 0px;
}
@media only screen and (max-width:991px){
.progress-container {
  top:66px;
}
}


/* ANIMATIONS */
@-webkit-keyframes ken-burns-in {
  0% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0)
  }

  to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
  }
}


@-webkit-keyframes ken-burns-out {
  0% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2)
  }

  to {
      -webkit-transform: scale(1.0);
      transform: scale(1.0)
  }
}

@-webkit-keyframes slide-right {
  0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }

  to {
      -webkit-transform: translateX(100px);
      transform: translateX(100px)
  };
}
.floating {
    animation-name: floating;
    animation-delay: 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, 0px); }
}

/* CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525A65;
    /* border-radius:99px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
